.btn-outline-success {
    margin: 10px;
    min-width: 350px;
    color: #198754;
    border-color: #198754;
    background-color: transparent;
}

.btn-outline-success:hover{
    background-color: #198754;
    color: #fff;
}