<div class="container-background">
    <div style="max-width: 600px;" class="container">
        <div  class="card">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <h1> <span style="font-size:40px;" class=" glyphicon glyphicon-credit-card"
                                    aria-hidden="true"></span> Send Transfer </h1>
                        </div>
                        <div class="col-md-offset-6 text-center">
                            <div style="padding-top: 20px;" class="btn-group text-center" role="group">
                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"
                                        aria-hidden="true"></span> John Smith</button>
                                <button type="button" class="btn btn-default">Sign Out <span
                                        class="glyphicon glyphicon-log-out" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h3>From</h3>
                    <table class="table">
                        <tbody>
                          <tr>
                            <td width="50%" style="border: none;" ><p>Account Name</p></td>
                            <td width="50%" style="border: none;" ><p class="bold">Checking</p></td>
                          </tr>
                          <tr>
                            <td width="50%" style="border: none;" ><p>Account Number</p></td>
                            <td width="50%" style="border: none;" ><p class="bold">123456789</p></td>
                          </tr>
                          <tr>
                            <td width="50%" style="border: none;" ><p>Current Balance</p></td>
                            <td width="50%" style="border: none;" ><p class="bold">$5,000.00</p></td>
                          </tr>
                        </tbody>
                      </table>

                      <hr>
                      <h3>Transfer details</h3>

                      <table class="table">
                        <tbody>
                      <tr>
                        <td width="50%" style="border: none;" ><p class="bold">Amount to transfer:</p></td>
                        <td width="50%" style="border: none;" ><input  class="form-control" value="$300.00" type="text"   /></td>
                      </tr> 
                      <tr>
                        <td width="50%" style="border: none;" ><p class="bold">Frequency:</p></td>
                        <td width="50%" style="border: none;" >
                            <select class="form-control">
                               <optgroup>
                                 <option >Everyday</option>
                               </optgroup>
                            </select>
                        </td>
                      </tr>
                    </tbody>
                </table>

                     <hr>
                      <h3>Send to</h3>

                      <div class="row">
                          <div class="col-md-6">
                            
                            <h2><img class="img-circle" src="https://randomuser.me/api/portraits/med/men/75.jpg" /> Jane Smith</h2>
                          </div>
                          <div class="col-md-6 ">
                            <a style="padding-top: 15px;" class="pull-right" href=""><h3>Change recipient</h3></a>
                          </div>
                      </div>
                     
                   
                </form>
            </div>
            <hr>
            <div class="card-footer pull-right">
                <button  class="btn btn-md btn-primary">Send $300.00</button>
            </div>
        </div>
    </div>
</div>