.create-btn {
  background-color: rgb(150, 216, 150);
  width: 100px;
  height: 30px;
  padding: 10px;
  padding-top: 20px;
  border: 1px solid darkgreen;
  border-radius: 30px;
  margin: auto;
  margin-top: 200px;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
